@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300;400;700&display=swap');

* {
    font-family: 'Playfair', serif;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 60rem;
  margin-top: 5rem;
  text-align: center;
  background-color: azure;
}

h3 {
  color: darkviolet;
  font-size: 2.5rem;
  padding-top: 8px;
}

.lorem-form {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.5rem;
  color: lightsalmon;
}

input {
  padding: 0.25rem 0.5rem;
  width: 4rem;
  border-radius: 4px;
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

button {
  background: white;
  font-size: 2rem;
}

btn {
    color: black;
    padding: 0.375rem 0.75rem;
    letter-spacing: 1px;
    display: inline-block;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.btn:hover {
    color: white;
    background: black;
    border-color: darkgrey;
}

.lorem-text {
    font-size: 1.5rem;
    color: darkslategray;
    padding: 8px;
}